.max-w-full {
   height: 15rem;
    padding: 0rem;
   margin: 0rem;
   

}

.arrow-container {

}

.peg {
    
}

.peg-note {
    fill: white;
}

svg {
    width: 100%;
    height: auto;
    max-width: 90vw;
    display: block;
  }
  
